.y2{
text-align: center;
background-color: palevioletred;
}
.k1{

    color: blue;
    text-align: center;
}
.k2{

    color:rgb(172, 93, 19);
    text-align: center;
}
.k3{

    color:#006600;
    text-align: center;
}
.all{

    background-color: rgb(230, 206, 176);
}
.y1{
    text-decoration: underline;
    color:blue;
}
h1{
    color: green;
}