.monhoa p{
 display: inline;
}
.toanhoc p{
    display: inline;
   }
.tinhoc p{
    display: inline;
}
h1{
    text-align: center;
    color: teal;
}
.th{
    font-weight: 600;
    text-decoration: underline;
}
.red{
    color: red;
}
pre{
    color: royalblue;
   background-color: rgb(240, 243, 247);
}
